# Node
NODE_ENV=development

# Payment gateway
PAYMENT_KEY_ID=
PAYMENT_KEY_SECRET=
PAYMENT_WEBHOOK_SECRET=
NEXT_PUBLIC_PAYMENT_PUBLIC_KEY=

# Database
MONGODB_URI=

# AWS Services
AWS_REGION=
AWS_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# JWT Services
JWT_SECRET=
